#dropdown{
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    border: 1ps solid black;
    outline: none;
    background-color: white;

    font-size: 0.8rem;
    font-weight: 700;

    color: rgba(0, 0, 0, 0.6);

    cursor: pointer;
}