.othersPost{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    padding: 2rem 1.5rem;

    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.othersPost .authorInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: center;
    margin-bottom: 2rem;
}

.othersPost .authorInfo .authorNameAndProfession{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30rem; 
}

.othersPost .authorInfo .authorNameAndProfession h3{
    font-size: 1.15rem;
    font-weight: 800;
}

.othersPost .authorInfo .authorNameAndProfession p{
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}

.othersPost .authorInfo .author-avatar-div{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.othersPost .authorInfo .author-avatar-div img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.othersPost .postContent{
    overflow-wrap: anywhere;
}

.othersPost .postContent p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}