

.header{
    display: flex;
    padding: 0rem 0.8rem;
    justify-content: space-evenly;

    border-bottom: 0.1rem solid lightgrey;

    width: 100%;

    position: sticky;
    top: 0;

    z-index: 999;
}

.header > .header_left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .header_left > img{
    height: 3rem;
    object-fit: contain;
    margin-right: 0.5rem;
}

.header > .header_left > .header_search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0F4FF;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;

    gap: 0.4rem;

    transform: scaleX(1); /* Initial scale */
    transform-origin: left; /* Ensure scaling starts from left */
    transition: 0.2s ease-in-out; /* Transition transform over 0.2 seconds */
}


.header > .header_left > .header_search:focus-within {
    transform: scaleX(1.2); /* Scale input to 120% when focused */
}


.header > .header_left > .header_search > input {
    background-color: transparent;
    outline: none;
    background: none;
    border: none;
    font-size: 1.1rem;

}


.header > .header_right{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3rem;
}


.header > .header_right > .avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}


.header > .header_right > .avatar > .avatar_image {
    height: 2.15rem;
    width: 2.15rem;
    overflow: hidden; 
    border-radius: 50%; 
}

.header > .header_right > .avatar > .avatar_image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit; 

    transition: 0.3s ease-in-out;
}

.header > .header_right > .avatar > .avatar_image > img:hover {
    transform: rotate(360deg);
}