.networkLeft{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    background-color: white;
    border: 1px solid lightgray;

    width: 20vw;

    height: fit-content;

    position: sticky;
    /* top: 10rem;
    left: 5rem; */

    align-items: flex-start;
    justify-content: center;

    border-radius: 10px;

    gap: 1.8rem;

    margin-top: 3rem;
    margin-left: 5rem;

    margin-right: 5rem;

}


.networkLeft > h3{
    font-size: 1.25rem;
    font-weight: 300;
}

.networkLeft > a{
    width: 100%;
    text-decoration: none;
}

.networkLeft > a > .networkLeftConnectionBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    transition: 0.2s ease-in-out;
    padding: 1rem 0.5rem;

    border-radius: 10px;
    
}

.networkLeft > a > .networkLeftConnectionBox:hover{
    background-color: whitesmoke;
}

.networkLeft > a > .networkLeftConnectionBox > .text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: gray;
}

.networkLeft > a > .networkLeftConnectionBox > .text > span{
    font-size: 1.2rem;
}

.networkLeft > a > .networkLeftConnectionBox > span{
    font-size: 1.2rem;
    color: gray;
}


@media screen and (max-width: 1600px){
    .networkLeft{
        width: 100%;
        min-width: 19rem;
        display: flex;
        align-items: flex-start;
        border-radius: 0;
    }

    .networkLeft > a{
        width: -webkit-fill-available;
    }

    .networkLeft > a > .networkLeftConnectionBox{
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-between;

        padding: 0.5rem 1rem;
    
        border-radius: 0;
        
    }
    
}

@media screen and (max-width: 600px){
    .networkLeft{
        width: -webkit-fill-available;
        min-width: 19rem;
        display: flex;
        align-items: flex-start;
        border-radius: 0;
    }

    .networkLeft > a{
        width: -webkit-fill-available;
    }

    .networkLeft > a > .networkLeftConnectionBox{
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-between;

        padding: 0.5rem 1rem;
    
        border-radius: 0;
        
    }
    
}
